<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment_admin :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yu's</title>
   	<link rel="shortcut icon" type="icon" href="https://github.com/yushi12138/resourcesOL/blob/master/icons/icon_yu_black.png?raw=true">

    <link rel="stylesheet" href="../../static/css/myStyleSheet.css" th:href="@{/css/myStyleSheet.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <!-- !!!!!!!----------------jquery always above semantic ui js file-----------------!!!!!!!!!!!1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <!-- ----------editor-markdown------------ -->
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
</head>


<!-- ----------load at certain position to avoid the markdown editor cursor-->
<body>
    <!-- -------------following bar----------------- -->
    <div th:replace="admin/fragment_admin :: followingMenu" class="my-following-header" id="menu">
            <div class="ui container">
                <div class="ui secondary pointing menu stackable" style="border-bottom: none;">
                    <a class="item" style="padding:0 !important;">
                        <img src="https://github.com/yushi12138/resourcesOL/blob/master/icons/icon_yu_black.png?raw=true" alt="" class="my-header-icon" style="width: 56px !important;">
                        <div class="item my-mobile-shown center aligned" id="my-following-header-js-mobile-show">
                            MENU<i class="ui angle down icon"></i>
                        </div>
                    </a>
    
                    <a href="" class="item my-following-header-item my-following-header-js-click-show my-mobile-hidden" >
                    Management
                    </a>
                    <a href="" class="item my-following-header-item my-following-header-js-click-show my-mobile-hidden" >
                   	Editor
                    </a>
                    <a href="" class="item my-following-header-item my-following-header-js-click-show my-mobile-hidden">
                    About Me
                    </a>
                    <a class="item right my-following-header-js-click-show my-mobile-hidden" style="padding: 1px 1px !important;">
                        <div class="ui simple pointing dropdown item" style="padding: 1px 100px !important;">
                            <img class="my-header-avatar" src="https://github.com/yushi12138/resourcesOL/blob/master/images/avatar/squirrel.jpg?raw=true">
                            <div class="menu">
                                <a href="" class="item">Yu Shi</a>
                                <a href="" class="item">yushi12138@gmail.com</a>
                                <a href="" class="item">Log Out</a>
                            </div>
                        </div>
                    </a>
                </div>
        </div>

    </div>
    

    <!-------------------------------- main page ------------------------------->
    <div class="my-page">
    <!-- nav bar -->
        <div th:replace="admin/fragment_admin :: topMenu(2)" class="my-header-image" style="background-image: url(https://github.com/yushi12138/resourcesOL/blob/master/images/background/cloud2.jpg?raw=true);">
            <div class="ui container">
                
                <div class="ui secondary pointing menu stackable">

                    <a class="item" style="padding:0 !important;">
                        <img src="https://github.com/yushi12138/resourcesOL/blob/master/icons/icon_yu.png?raw=true" alt="" class="my-header-icon">
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden">
                        Home
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden">
                        Mangement
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden">
                        Editor
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden">
                        About Me
                    </a>
                    <a class="item right my-header-item my-mobile-hidden">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </a>
                    <!-- <i class="ui bars icon my-mobile-shown"></i> -->
                    <div class="ui compact menu left my-mobile-menu-shown my-background" >
                            <div class="ui simple dropdown item">
                              <i class="bars icon"></i>
                              <div class="left menu">
                                <a href="" class="item">Management</a>
                                <a href="" class="item">Editor</a>
                                <a href="" class="item">About Me</a>
                              </div>
                            </div>
                    </div>

                </div>

            <h1 style="color: white; font-size: 50px; position: absolute; top:300px; left: 540px; z-index:1 !important;">Welcome Home ~</h1>

            </div>
            

        </div>
    <!-- content -->

        <!-- <div class="my-content-bg" style="background-image: url(../static/images/texture-white-black.jpeg) !important;"> -->
        <div class="my-content-bg" style="background-image: url(https://github.com/yushi12138/resourcesOL/blob/master/images/texture/texture-white-black.jpeg?raw=true) !important;">
            <br>
 
            <div class="ui container">
            
                           <!-- ------------menu--------------- -->
                    <div th:replace="admin/fragment_admin :: subMenu(2)" class="ui top attached tabular menu">
        
                        <div class="item" >
                            Blogs
                        </div>
                        <div class="item active" >
                            Tags
                        </div>
                        <div class="item" >
                            Editor
                        </div>
                    </div>
        
                       <!-- ----------------------------------Tags------------------------------- -->
                    <div id="my-js-content-three" th:fragment="totalTagFragment">
                    
                    	<!-- ---------------------------------input-------------------------------------- -->
                        <div class="ui attached segment" >
                            <div class="ui form" style="margin-top: 1em !important;" th:object="${tag}" >
                            	<input type="hidden" name="id" th:value="*{id}">
                                <div class="inline fields">
                                    <!-- ------------title-tags------------- -->
                                    
                                    <div class="required five wide field">
                                    
                                        <div class="ui left icon input">
                                            <i class="edit outline icon"></i>
                                            <input type="text" placeholder="Tag Name..." name="name" th:value="*{name}">                
                                   		</div>
									</div>     
									                              		
                                    <div class="five wide field">
                                   		
                                        <div class="ui selection floating dropdown input">
                                        	<input type="hidden"  name="parentTag.id" th:value="*{parentTag}!=null ? *{parentTag.id}">
                                            <div class="text">Select...</div>
                                            	<i class="dropdown icon"></i>
		                                	<div class="menu">
		                              	    	<div th:each="o : ${tags}" th:text="${o.name == null} ? 'tag(Null)' : ${o.name}" th:data-value="${o.id}" class="item">A</div>
		                                	</div>
                                        </div>                                        
                                    </div>
                                    
                                    
                                    <div class=" three wide field">
                                    <!----------ajax-----  -->
                                            <button id="tag-add-button" type="button" class="ui inverted violet button right floated"> &nbsp&nbsp Add &nbsp&nbsp</button>                                          
                                    </div>
                                    
                                    <div class=" three wide">
                                    	<button class="ui button basic " type="button" onclick="window.history.go(-1)">Return</button>
                                    </div>
                        
                                </div>
                                
                                <div class="ui error mini message"></div>     

                            </div>
        					<!-- ----------duplication verification/empty--------- -->
                            <div class="ui container">

                                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">  <!--  -->
                                	<i class="close icon"></i>
                                	<div class="header">Info: </div>
                                	<p th:text="${message}">Success!</p>
                                </div>  
                            </div>



                        </div>
                        
                        <!-- ----------------------------tags table--------------------------------- -->
                        <div class="ui segment" id="tag-container">
        					<div th:fragment="tagFragment">
        					

                            
	                            <table class="ui very basic selectable table" >
	                                <thead>
	                                    <tr>
	                                    <th width="5%"></th>
	                                    <th width="20%" class="left aligned">Tag</th>
	                                   	<th width="20%" class="left aligned">Parent</th>
	                                    <th width="35%" class="left aligned">Children</th>
	                                    <th width="20%" class="right aligned">Operation &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr th:each="tag,iterStat : ${tagPage.content}" >
	                                    	<td width="5%" th:text="${iterStat.count}" class="center aligned">1</td>
		                                    <td width="20%"th:text="${tag.name}">Algorithm</td>
		                             		<td width="20%" th:text="${tag.parentTag!=null} ? ${tag.parentTag.name} :''"></td>
	
		            	                    <td width="35%" >
		            	                    <a th:each="child : ${tag.childrenTag}" th:text="${child != null}? ${child.name}+' ':''"></a>
		            	                    </td>
		                                    <td width="20%" class="right aligned">
		                                        <a href="" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui inverted brown button right floated">Delete &nbsp</a>
		                                       	<a href="" th:href="@{/admin/tags/{id}/update(id=${tag.id})}" class="ui inverted blue button right floated">  &nbsp&nbsp Edit &nbsp&nbsp </a>
		                                       	
		                                    </td>
	                                    </tr>
	                                </tbody>
	                                <tfoot>
	                                    <tr>
	                                        <th colspan="6" th:if="${tagPage.totalPages}>1" class="ui center aligned">
				                                <div class="ui middle aligned two column grid">				                                								
				                                    <div class="left aligned column">
				                                        <a onclick="page(this)" th:attr="data-page=${tagPage.number}-1" th:unless="${tagPage.first}" class="ui left basic labeled icon button">
				                                            <i class="left double angle icon"></i>
				                                            Prev
				                                        </a>
				                                    </div>
				                                    <div  class="right aligned column">
				                                        <a onclick="page(this)" th:attr="data-page=${tagPage.number}+1" th:unless="${tagPage.last}" class="ui right labeled basic icon button">
				                                            <i class="right double angle icon"></i>
				                                            Next
				                                        </a>
				                                    </div>
				                
				                                </div>
	                                        </th>
	                                    </tr>
	                                </tfoot>
	                            </table>
                            </div>
                        </div>
                    </div>
        
        
			        <br>
			        <br>
			        <br>
			        <br>
			        <br>
			         <br>
			        <br>
			      
			     <br>
			         <br>
			        <br>
			      
           
			      
        
 
        </div>
    </div>


  <footer th:replace="admin/fragment_admin :: footer" class="ui inverted vertical segment my-footer">
        <div class="ui center aligned container">
          <div class="ui grid inverted divided stackable">
            <div class="three wide column">
                <div class="ui link list my-padding-updown-small">
                        <img src="https://github.com/yushi12138/resourcesOL/blob/master/icons/icon_yu.png?raw=true" class="ui circular centered image" alt="" style="width: 120px">
                </div>
            </div>
            <div class="six wide column">
              <h4 class="ui inverted header my-padding-updown-small">New</h4>
              <div class="ui inverted link list">
                <a href="" class="item"> Story</a>
                <a href="" class="item"> Story</a>
                <a href="" class="item"> Story</a>
              </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header my-padding-updown-small">Contact</h4>
                <div class="ui inverted link list my-padding-updown-small">
                    <a href="" class="item my-contact-icon"><i class="mail icon large centered"></i></a>
                    <a href="" class="item my-contact-icon"><i class="github icon large "></i></a>
                    <a href="" class="item my-contact-icon"><i class="linkedin icon large"></i></a>
                    <a href="" class="item my-contact-icon"><i class="twitter icon large"></i></a>
                    <a href="" class="item my-contact-icon"><i class="facebook icon large"></i></a>
                    <a href="" class="item my-contact-icon"><i class="wechat icon large"></i></a>
                </div>
            </div>
          </div>
    
          <div class="ui inverted section divider"></div>   
          <p>Copyright...</p>
        </div>
    </footer>
    
    

    <!-- <script>

    </script> -->
    <script type="text/javascript" th:inline="javascript">
        // --------------scroll-down------------------
        $(document).ready(function(){
                
            $(window).scroll(function(){                          
                if ($(this).scrollTop() > 450) {
                    $('#menu').fadeIn(500);
                } else {
                    $('#menu').fadeOut(500);
                }
            });
            $('.link.example .dropdown')
            .dropdown({
                action: 'hide'
            });
            
        });
        // ------------ sidebar-click----------------
        $('#sidebar-dropdown-posts')
            .click(function(){
                $('.my-sidebar-item-posts').toggle();
        });
        $('#sidebar-dropdown-tags')
            .click(function(){
                $('.my-sidebar-item-tags').toggle();
        });

        //------------mobile-following-menu-------------------
        $('#my-following-header-js-mobile-show')
            .click(function(){
                $('.my-following-header-js-click-show').toggleClass("my-mobile-hidden");
        });
        //-------------mobile-header-----------------
        $('#my-header-js-mobile-show')
            .click(function(){
                $('.my-header-js-click-show').toggleClass("my-mobile-hidden");
        });
        // -------------dropdown-------------------
        $('.ui.dropdown').dropdown(
            {on:'hover'}
        );
        
        
        // -------------input-validation-------------
        $('.ui.form').form({
            fields:{
                name:{
                    identifier:'name',
                    rules:[{
                        type:'empty',
                        prompt:'please input the tag'
                    }]
                }
            }
        });
        
		//-----------------ajax-------------
		$("#tag-add-button").click(function(){
			var boo = $(".ui.form").form('validate form');//manually invoke the form validation
			if(boo){
				console.log("Validation succeed");
				postdata();
			}else{
				console.log("Validation fail");
			}
		});
		
		function postdata(){
			$("#tag-container").load(/*[[@{/admin/tags}]]*/"/admin/tags",{
				"parentTag.id" : $("[name='parentTag.id']").val(),
				"name" : $("[name='name']").val(),
				"id" : $("[name='id']").val()

			});
		}
		
		//---------------------ajax-next page--------------
		function page(obj){
			console.log("next page good");
			$("#tag-container").load(/*[[@{/admin/tags/page}]]*/"/admin/tags/page",{
				page : $(obj).data('page')
			});
		}	
        // <!-- ------------markdown-editor-js------------- -->
        $(document).ready(function(){
            
            // use setTimeout(fuction(),3000) to slow down the markdown editor loading, 
            // and avoiding jump to the cursor
            var testEditor;
            $(setTimeout(function() {
                testEditor = editormd("md-content", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : /*[[@{/l	ib/editormd/lib/}]]*/
                });
            }, 2500));
        });



    </script>
    
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
            document.getElementById("menu").style.top = "0";
            } else {
            document.getElementById("menu").style.top = "-65px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
    <!-- ----message close---- -->
    <script>
    $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade');
    });
    </script>
</body>
</html>