<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tags</title>

    <link rel="stylesheet" href="../static/css/myStyleSheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
    <!-- !!!!!!!----------------jquery always above semantic ui js file-----------------!!!!!!!!!!!1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
</head>
<body>
    <!-- -------------following bar----------------- -->
    <div th:replace="_fragment :: followingMenu" class="my-following-header" id="menu">
            <div class="ui container">
                <div class="ui secondary pointing menu stackable" style="border-bottom: none;">
                    <a class="item" style="padding:0 !important;">
                        <img src="https://github.com/yushi12138/resourcesOL/blob/master/icons/icon_yu_black.png?raw=true" alt="" class="my-header-icon" style="width: 56px !important;">
                        <div class="item my-mobile-shown center aligned" id="my-following-header-js-mobile-show">
                            MENU<i class="ui angle down icon"></i>
                        </div>
                    </a>
    
                    <a href="" class="item my-following-header-item my-following-header-js-click-show my-mobile-hidden" >
                    Home
                    </a>
                    <a href="" class="item my-following-header-item my-following-header-js-click-show my-mobile-hidden" >
                    Sharings
                    </a>
                    <a href="" class="item my-following-header-item my-following-header-js-click-show my-mobile-hidden">
                    Projects
                    </a>
                    <a href="" class="item my-following-header-item my-following-header-js-click-show my-mobile-hidden">Tags</a>
                    <a href="" class="item my-following-header-item my-following-header-js-click-show my-mobile-hidden">About Me</a>
                    <a class="item right my-following-header-item my-following-header-js-click-show my-mobile-hidden">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </a>
                </div>
        </div>

    </div>
    

    <!-------------------------------- main page ------------------------------->
    <div class="my-page">
    <!-- nav bar -->
        <div th:replace="_fragment :: topMenu(4)" class="my-header-image" style="background-image: url(../static/images/cloud4.jpg);">
            <div class="ui container">
                
                <div class="ui secondary pointing menu stackable">

                    <a class="item" style="padding:0 !important;">
                        <img src="https://github.com/yushi12138/resourcesOL/blob/master/icons/icon_yu.png?raw=true" alt="" class="my-header-icon">
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden">
                        Home
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden">
                        Sharings
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden  ">
                        Projects
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden my-header-active">
                        Tags
                    </a>
                    <a href="" class="item my-header-item my-mobile-hidden">
                        About Me
                    </a>
                    <a class="item right my-header-item my-mobile-hidden">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </a>
                    <!-- <i class="ui bars icon my-mobile-shown"></i> -->
                    <div class="ui compact menu left my-mobile-menu-shown my-background" >
                            <div class="ui simple dropdown item">
                              <i class="bars icon"></i>
                              <div class="left menu">
                                <a href="" class="item">Home</a>
                                <a href="" class="item">Sharings</a>
                                <a href="" class="item">Projects</a>
                                <a href="" class="item">About Me</a>
                              </div>
                            </div>
                    </div>

                </div>


            </div>
            

        </div>
    <!-- content -->

        <!-- <div class="my-content-bg" style="background-image: url(../static/images/texture-white-black.jpeg) !important;"> -->
        <div class="my-content-bg">

            <div class="ui container my-padding-updown-large" style="background-color: white !important;">
                
                <!-- ----------------------------------blog------------------------------- -->
                <div class="ui grid stackable">
                    <div class="row center aligned">
                    
                        <!-- --------------left---------------- -->
                        <div class="twelve wide column"  id="ajax-container">
	    
	                            <!------------ header ------------>
							<div th:fragment="tagsFragment">
								
	                            <div class="ui top attached tabular menu">
	                                <a class="active item">
	                                    <span th:text="${tag.name}">tags</span>

	                                </a>
	                                <div class="right menu">
	                                    <div class="item">
					                    	<form  name="search-tag" th:action="@{/search}" method="post">                     	
						                        <div class="ui transparent icon input">
						                            <input name="query" type="text" placeholder="Search..." th:value="${query}!=null ? ${query}">
						                            <i onclick="document.forms['search-tag'].submit()" class="search icon"></i>
						                        </div>
						               		</form> 
	                                    </div>
	                                </div>
	                            </div>
	                            
	                            <!---top-- -->
	                            
	                            <div class="ui vertical segment my-padding-updown-small" th:each="blog : ${blogs.content}">
	                                <!-- -----blog----- -->
	                                <div class="ui grid mobile reversed stackable" >
	                                        <!-- left -->
	                                        <div class="sixteen wide column left aligned">
	                                            <div class="ui horizontal link list">
	                                                <a class="item my-padding-leftright-mini" th:href="@{/aboutMe}">
	                                                    <img th:src="${blog.user.getAvatar()}" class="ui avatar my-avatar" src="https://github.com/yushi12138/resourcesOL/blob/master/images/avatar/squirrel.jpg?raw=true" alt="" >
	                                                    <div  class="right floated my-mobile-hidden" style="padding-top: 0.7em !important;">
	                                                        <h3 th:text="${blog.user.getNickname()}" class="" >Yu</h3>
	                                                    </div>
	                                                </a>
	                                                <div class="item my-padding-leftright-mini my-mobile-hidden">
	                                                         <i class="calendar icon" style="margin-bottom: 0.3em !important;"></i>
	 	                                                        <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2019-6-28</span>
	                                                </div>
	                                                <div class="ui item my-padding-leftright-mini">
	                                                    <div class="ui breadcrumb"  style="padding-bottom: 0.3em !important;">
	                                                            <div class="section" >
	                                                            <span th:text="${blog.comments.size()}">10 </span>
	                                                            <span>comments</span>
	                                                            </div>
	                                                                <div class="divider"> / </div>
	                                                                <div class="section">
	                                                                <span th:text="${blog.views}">10</span>
	                                                                <span> viewed</span>
	                                                                </div>
	                                                    </div> 
	
	                                                </div>
	
	                                            </div>
	                                            <a th:href="@{/blog/{id}(id=${blog.id})}" href="" class="ui basic icon button" style="position: absolute !important;top:1.7em !important; right:1em !important;">
	                                                    <i class="right arrow icon"></i>
	                                                    Detail
	                                            </a>
	                                        </div>
	                            
	
	
	
	                                    <!-- <div class="ui mobile reversed"> -->
	                                        <!-- text -->
	                                        <div class="eleven wide column">
	                                        	<div class="ui grid">
	                                        
		                                            <h3  class="ui sixteen wide column my-left-aligned my-mobile-center-aligned">
			                                            <span th:text="${blog.title}">Myself</span>
			                                            <div class="ui blue basic label" th:text="${blog.category.getName()}" style="padding:0.2833em 0.433em !important;">
			                                            	Blogger
			                                            </div>			                                            
		                                            </h3>
		                                            
		                                            <div th:text="${blog.description}" class="ui sixteen wide column my-left-aligned my-mobile-center-aligned" >
		                                                My name is Yu Shi. 
		                                                <br>
		                                                <br>
		                                                <br>
		                                                <br>   
		                                            </div>
	
	                                                <div class="sixteen wide column left aligned">
	                                                    <div class="ui horizontal link list">
	                                                            <a class="item" th:each="tag : ${blog.tags}" th:href="@{/tags/{id}(id=${tag.id})}">
	                                                                    <button th:text="${tag.name}" class="ui basic button">Yellow</button>
	                                                            </a>
	                                                    </div>
	                                                </div>
	        
	                                        
	                                            </div>  
	                                        </div>
	                                        <!-- image -->
	                                        <div class="five wide column">
	                                            <a th:href="@{/blog/{id}(id=${blog.id})}" href="#">
	                                                <img th:src="@{${blog.indexImage}}" class="ui rounded image my-post-description-image"  src="https://github.com/yushi12138/resourcesOL/blob/master/images/avatar/squirrel.jpg?raw=true" alt="">
	                                            </a>
	                                        </div>
	
	                                    <!-- </div> -->
	                                </div>
	
	                            </div>
	            
	
	<!--/*-->

	<!--*/-->                            
	                            <!-- ----------------footer----------------- -->
	                            <div class="ui vertical segment">
	                                <div class="ui middle aligned two column grid"  th:if="${blogs.totalPages}>1">
	                                									
	                                    <div class="left aligned column">
	                                        <a onclick="page(this)" th:attr="data-page=${blogs.number}-1" th:unless="${blogs.first}" class="ui left basic labeled icon button">
	                                            <i class="left double angle icon"></i>
	                                            Prev
	                                        </a>
	                                    </div>
	                                    <div  class="right aligned column">
	                                        <a onclick="page(this)" th:attr="data-page=${blogs.number}+1" th:unless="${blogs.last}" class="ui right labeled basic icon button">
	                                            <i class="right double angle icon"></i>
	                                            Next
	                                        </a>
	                                    </div>
	                
	                                </div>
	                            </div>

	    
	                        </div>
	                        
	    				</div>
                              
    
                        <!-- --------------right--------------- -->
                        <div class="four wide column">
    
                            <div class="ui top attached tabular menu">
                                <div class="" style="margin-top: 0.5em !important;">
                                    <h3 >Yu's</h3>
                                </div>
                            </div>

                            <div class="ui vertical segment my-left-aligned">
                                    <div class="ui horizontal link list " >
                                        <a  th:href="@{/aboutMe}" href="" class="item my-padding-leftright-mini my-padding-updown-small">
                                                
                                                <img class="ui image" style="width: 65px; border-radius:5px !important;" src="https://github.com/yushi12138/resourcesOL/blob/master/icons/icon_yu_black.png?raw=true" alt="" >
                                                <!-- <div class="content" style="padding-top: 1em !important;">
                                                    <h3 class="" style="font-weight: 10 !important;color:black;">Yu</h3>
                                                </div> -->
                                        </a>
                                  
                                        <div class="item my-right-aligned my-sidebar">
                                                <div class=" my-left-aligned">
                                                    <a th:text="${sharingNum}"class="my-inline-text">67 </a>
                                                    <div class="my-inline-text">Sharings</div>
                                                </div>
                                                <div class="my-left-aligned" style="text-align: left !important;">
                                                    <a th:text="${projectNum}" class="my-inline-text">67</a>
                                                    <div class="my-inline-text">Projects</div>
                                                </div>
                                                <div class=" my-left-aligned" style="text-align: left !important;">
                                                    <a th:text="${tags.size()}" class="my-inline-text">67</a>
                                                    <div class="my-inline-text">Tags</div>
                                                </div>
                                        </div>

                                    </div>


                               


                                <h3 class="ui header my-left-aligned ">Tags</h3>
                            </div>
                            
                            <!-- ------------input the value of tag id------------- -->
		       				<div class ="ui form">
		       					<input type="hidden" name="tagId" th:value="${tag.id}">
		       				</div>
		       				<!-- --------------tag button list-------------- -->
                            <div class="ui vertical segment my-left-aligned">
                            	<div class="ui list" >                            
									<a th:each="o : ${tags}" th:href="@{/tags/{id}(id=${o.id})}" class="ui labeled button item" ><!--onclick="tag(this)" th:attr="data-id=${o.id}"  -->
                                        <div th:text="${o.name}" class="ui basic button my-button-mobile" th:classappend="${o.id}==${tag.id} ? 'blue'">
                                             Forks
                                        </div>
                                        <div th:text="${o.blogs.size()}" class="ui basic left pointing label my-label-mobile" th:classappend="${o.id}==${tag.id} ? 'blue'">
                                            100
                                        </div>
                                    </a>
                                    <!--<h3 class="ui header my-left-aligned">Links</h3>  -->
                           		</div>

                            </div>
    <!-- 
                            <div class="ui vertical pointing secondary menu my-left-aligned" style="width:  auto !important;">
                                <a class="item active" id="sidebar-dropdown-posts">
                                    MOST VIEWED
                                </a>
                                <div class="ui item my-sidebar-item-posts" style="display: none;">
                                    <div class="ui link list">
                                            <a href="" class="ui item">how to build a web server</a>
                                            <a href="" class="ui item">How to develop a web blog system</a>
                                            <a href="" class="ui item">world</a>
                                    </div>
                                       
    

                                </div>
                                <a class="item active" id="sidebar-dropdown-tags">
                                        RECENT POSTS
                                </a>
                                <div class="item my-sidebar-item-tags" style="display: none;">
                                
                                </div>
                         
                            </div>
      --> 
              
    
                        </div>
                    </div>
        
                </div>
    
                <br>
            </div>
 
            <br>
            <br>
 
        </div>
    </div>


  <footer th:replace="_fragment :: footer" class="ui inverted vertical segment my-footer">
        <div class="ui center aligned container">
          <div class="ui grid inverted divided stackable">
            <div class="three wide column">
                <div class="ui link list my-padding-updown-small">
                        <img src="https://github.com/yushi12138/resourcesOL/blob/master/icons/icon_yu.png?raw=true" class="ui circular centered image" alt="" style="width: 120px">
                </div>
            </div>
            <div class="six wide column">
              <h4 class="ui inverted header my-padding-updown-small">New</h4>
              <div class="ui inverted link list">
                <a href="" class="item"> Story</a>
                <a href="" class="item"> Story</a>
                <a href="" class="item"> Story</a>
              </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header my-padding-updown-small">Contact</h4>
                <div class="ui inverted link list my-padding-updown-small">
                    <a href="" class="item my-contact-icon"><i class="mail icon large centered"></i></a>
                    <a href="" class="item my-contact-icon"><i class="github icon large "></i></a>
                    <a href="" class="item my-contact-icon"><i class="linkedin icon large"></i></a>
                    <a href="" class="item my-contact-icon"><i class="twitter icon large"></i></a>
                    <a href="" class="item my-contact-icon"><i class="facebook icon large"></i></a>
                    <a href="" class="item my-contact-icon"><i class="wechat icon large"></i></a>
                </div>
            </div>
          </div>
    
          <div class="ui inverted section divider"></div>   
          <p>Copyright...</p>
        </div>
    </footer>
    
    

    <!-- <script>

    </script> -->
    <script type="text/javascript">
        (function($) {          
            $(document).ready(function(){                    
                $(window).scroll(function(){                          
                    if ($(this).scrollTop() > 450) {
                        $('#menu').fadeIn(500);
                    } else {
                        $('#menu').fadeOut(500);
                    }
                });
                $('.link.example .dropdown')
                .dropdown({
                    action: 'hide'
                });
              
            });
        })(jQuery);

        $('#sidebar-dropdown-posts')
            .click(function(){
                $('.my-sidebar-item-posts').toggle();
        });
        $('#sidebar-dropdown-tags')
            .click(function(){
                $('.my-sidebar-item-tags').toggle();
        });

        //------------mobile-following-menu-------------------
        $('#my-following-header-js-mobile-show')
            .click(function(){
                $('.my-following-header-js-click-show').toggleClass("my-mobile-hidden");
        });
        //-------------mobile-header-----------------
        $('#my-header-js-mobile-show')
            .click(function(){
                $('.my-header-js-click-show').toggleClass("my-mobile-hidden");
        });

        	/* ----------click-prev/next-page-invoke-GET-request---------- */
		function page(obj){
			$("#ajax-container").load(/*[[@{/tags/page}]]*/"/tags/page",{
				page : $(obj).data('page'),
				id : $("[name='tagId']").val()
				
			});
        }

    </script>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
            document.getElementById("menu").style.top = "0";
            } else {
            document.getElementById("menu").style.top = "-60px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
</body>
</html>