<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>400</title>

    <link rel="stylesheet" href="../../static/css/myStyleSheet.css" th:href="@{/css/myStyleSheet.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>

    <style type="text/css">
        body > .grid {
          height: 100%;
        }
    </style>


</head>
<body>

    <div class="ui middle aligned center aligned grid my-content-bg" style="background-image: url(https://github.com/yushi12138/resourcesOL/blob/master/images/background/background-sky.jpg?raw=true);">
        <div class="column" style="max-width: 450px;">
        
          <h1 style="font-size:60px;color:grey;">
              Oops, 404
          </h1>
          <h1 style="font-size:40px;color:grey;">
              Page Not Found
          </h1>
         </div>
      </div>
  
</body>
</html>